

.grid {
  display: grid; 
  /*grid-template-columns: 33% 33% 33%; compartir el ancho*/
  /*grid-template-columns: 200px 400px 150px;/* cantidad para cada uno*/
  /*grid-template-rows: auto 100px;/*el auto se ajusta al texto*/
  /* gap:3em;/*el espaciado para la grilla*/
  /*column-gap: 1em; /*solo para las columnas*/
  /*row-gap: 1em;/*solo las filas*/
  /*grid-template-columns:1fr 1fr 1fr 1fr ;/*va a fraccionar toda la fila en partes iguales*/
  grid-template-columns:repeat(3, 1fr);
  /*column-gap: 1em;*/
  /*row-gap: 1em;*/
  gap:1em;
  grid-auto-rows:minmax(100px, auto);/*(100px, 5px)son estilos del valor maximo
  loque hacemos aca es que como minimo sin importar las palabras 
  va a utilizar un minimo de px .*/
  /*justify-items: stretch;*/
  align-items: stretch;
}

.element-one {
  grid-column: 1/4;
  grid-row: 1/4;
  
}

.element-two {
  grid-column: 1/2;
  
}

.element-three {
  grid-column: 2/4;
  
}

/*
.nested-grid {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows:100px;
    gap:1em;

}

.nested-grid > div {
  border: 1px solid #000;
  background: #f1c40f;
  padding: 1em;
}*/

/*
.element-one {
  align-self: start;
}


.element-two {
  align-self: center;
}

.element-three {
  align-self:end ;
}

.element-four {
  justify-self : start;
}


.element-five {
  justify-self: center;
}

.element-six {
  justify-self: end ;
}
*/
.grid > div {
   background: #ecf0f1; 
   padding: 1em;
}


.grid > div:hover{
   border: 1px solid #f1c40f;
}

