.corner__body{
    background-color: #c9cac7;
}

#corner{
    border-radius: 5px;
    background: #0d0e0d;
    color: beige;
}

#corner0{
    border-radius:15px ;
    background: #d6e909;
    color: #101010;
}

#cornerR{
    color: #555c08;
}

#corner1{
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: inline-block;
    
}

#corner2{
    border-radius: 45px;
    background: #567828;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: inline-block;
}

#corner3{
    border-radius: 65px;
    background: #768c57;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: inline-block;
}

#corner4{
    border-radius: 75px;
    background: #858e79;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: inline-block;
}