div {
    background-color: rgb(14, 139, 176);
  }
  
  div.first {
    opacity: 0.2;
  }
  
  div.second {
    opacity: 0.4;
  }
  
  div.third {
    opacity: 0.6;
  }

.sol {
    background-color:rgb(211, 237, 17);
}